
a {
    cursor: pointer;
}

#high-score {
    justify-content: flex-start;
    position: absolute;
    padding: 1% 0 0 2%;

}
#high-score, #timer {
    display: flex;

}
#timer {
    justify-content: flex-end;

    padding: 1% 2% 0 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 5% auto;
    padding: 10% 5% 10% 5% ;
    height: 40%;
    width: 70%;
    border: 1px solid  rgb(221, 71, 221);
    box-shadow: 4px 2px 10px rgb(221, 71, 221);
    border-radius: 10px;
    line-height: 1.5em;
}

main h2 {
    font-size: 140%;
    font-weight: bold;
    margin: 0 0 4% 0;
}

#start-quiz {
    cursor: pointer;
    border-radius: 5px;
    margin-top: 2%;
    padding: 1% 1%;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color:  rgb(221, 71, 221);
    border: none;
    outline: none;
}

#start-quiz:hover {
    outline: none;
    box-shadow: 1px 1px rgb(0, 0, 0);
}

.hide {
    display: none;
}

#m-choice-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#m-choice-list button {
    list-style: inside;
    list-style-type: decimal;
    background-color: hotpink;
    border: 1px solid black;
    width: 25vw;
    padding: 2% 0 2% 2%;
    margin: 2%;
    justify-items: flex-start;
    text-align: left;
    border-radius: 8px;
}

#m-choice-list button:hover {
    cursor: pointer;
}

main button{
    font-weight: bold;
    letter-spacing: 1px;

}

@media screen and (max-width: 700px) {

    #m-choice-list button {
        font-size: 60%;
        width: 20vw;
    }
}